#lists h4 {
  color: #444;
  margin-bottom: 1rem;
  /* max-width: fit-content; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#lists h4 span:nth-child(1) {
  border-bottom: 3px solid darkviolet;
  /* max-width: fit-content; */
  padding-bottom: 0.3rem;
}
#delete-icon {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}
#history-html {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* justify-content: space-between; */
}
#history-html span {
  flex: 0 0 30%;
  text-align: center;
  border: 1px solid #bbb;
  padding: 0.3rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
